
:root {
    --brand-color:#4D5AE5;
    --click-color:#404BBF;
    --dark-color:#2E2F42;
    --success-100:#31D0AA;
    --success-10:#31D0AA;
    --text-color:#434455;
    --subtle-color:#8E8F99;
    --accent-color:#E7E9FC;
    --light-color:#F4F4FD;
    --distance-gap:24px;
    --nomber-in-row:3;
}

html{box-sizing: border-box;}
*,
*::before,
*::after{box-sizing: inherit;}

body {
    color:var(--text-color);

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);

    letter-spacing: 0.02em;
    margin-bottom: 0;}

ul {list-style: none;}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 1158px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 1px solid red;
}
.section{
    padding: 120px 0;
}
.link {
    text-decoration: none;
    color: currentColor;

    padding-top: 24px;
    padding-bottom: 24px;
    }

    /* header */
.border{
    border-bottom: 1px solid #E7E9FC;
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;

    line-height: calc(24 / 18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:var(--brand-color);
    }
.logo-header {
    color:var(--dark-color);
    margin-right: 76px;
} 
.current{
    color: var(--brand-color);
}
.navigation,
.nav-list{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.nav-set,
.address-list{
    display: flex;
    gap: 40px;
}
.nav-item {
    font-weight: 600;
}
.nav-item:hover,
.nav-item:focus {
    color: var(--text-color);
}
.address-item {
    color:var(--text-color);
    font-style: normal;
} 
.address-item:hover,
.address-item:focus {
    color: var(--brand-color);
}

    /* hero */
.hero{
    text-align: center;
    padding-bottom: 188px;
    padding-top: 188px;
    background-color: var(--dark-color);
}
.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: calc(60 / 56);
    color:#FFFFFF;
    
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
    width: 494px;
}
.btn{
    font-weight: 500;
    line-height: calc(19 / 16);
    font-family: inherit;
    font-size: inherit; 
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    background-color:#4D5AE5;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
}

/* feature */
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color:var(--dark-color);
    
    margin-bottom: 8px;
}
.features-list{
    display: flex;
    gap: 24px;
}

/* what are we doing */
.title-big {
    font-weight: 600;
    font-size: 36px;
    line-height:calc(40 / 36);

    text-align: center;
    text-transform: capitalize;
    
    margin-bottom: 72px;
}
.works{
    padding-top: 0;
}
.work-set{
    display: flex;
    gap: 24px;
}
    
/* our team */
.team{
    background-color: #F4F4FD;
}
.team-list{
    display: flex;
    gap: 24px;
    text-align: center;  
}
.team-img{
    margin-bottom: 32px;
}
.cards-team{
    background-color: #FFFFFF;
    padding-bottom: 32px;
}
    /* footer */
.footer{
    padding: 100px 0;
    background-color: var(--dark-color);
    }
.logo-footer {
    color:var(--light-color);
}
.text-footer {
    color:var(--accent-color);
    width: 264px;
    margin-top: 16px;
}   

/* portfolio */
.projects{
    padding-top: 76px;
    padding-bottom: 120px;
}
.btn-project {
    font-weight: 600;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--brand-color);
    background-color:#F4F4FD;

    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding:12px 24px;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.btn-project:hover,
.btn-project:focus {
    color: var(--light-color);
    background-color: #4D5AE5;
}
.projects-filters{
    display: flex;
    justify-content: center;
    gap: 24px;
 
    margin-bottom: 72px; 
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
}
.project-item{
    flex-basis: calc(100% / 3 - 24px);
    margin-right: 24px;
    margin-bottom: 48px;
}
.project-item:nth-child(3n) {
    margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.project-border{
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}
